
html {
    height: 100%;
}

body {
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
    margin: 0; 
}


.main-content {
    flex-grow: 1; 
}




.navbar {

  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;

}